<section class="hero is-primary is-fullheight">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h1 class="title pacifico larger-text">
        modern web store
      </h1>


      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div class="columns" style="padding-bottom: 15%">


          <div class="column box">
            <p class="has-text-centered"><strong>Revenda</strong></p>

            <label><strong>Cnpj/Cpf:</strong> {{ customerReseller.document }}</label>
            <br>
            <label><strong>Inscrição Estadual:</strong> {{ customerReseller.inscricaoestadual }}</label>
            <br>
            <label><strong>Nome da Empresa:</strong> {{ customerReseller.companyname }}</label>
            <br>
            <label><strong>Nome:</strong> {{ customerReseller.firstname }}</label>
            <br>
            <label><strong>Sobrenome:</strong> {{ customerReseller.lastname }}</label>
            <br>
            <label><strong>E-mail:</strong> {{ customerReseller.email }}</label>

            <br />
            <hr />

            <label><strong>Cep:</strong> {{ customerReseller.cep }}</label>
            <br>
            <label><strong>Endereço:</strong> {{ customerReseller.endereco }}</label>
            <br>
            <label><strong>Número:</strong> {{ customerReseller.numero }}</label>
            <br>
            <label><strong>Complemento:</strong> {{ customerReseller.complemento }}</label>
            <br>
            <label><strong>Bairro:</strong> {{ customerReseller.bairro }}</label>
            <br>
            <label><strong>Cidade:</strong> {{ customerReseller.cidade }}</label>
            <br>
            <label><strong>Estado:</strong> {{ customerReseller.estado }}</label>

            <br />
            <hr />

            <label><strong>Telefone:</strong> {{ customerReseller.phone }}</label>
            <br>
            <label><strong>Celular:</strong> {{customerReseller.cellphone}} </label>
            <br>

          </div>






          <div class="column box" style="margin-left: 4%">

            <p class="has-text-centered"><strong>Faturar Para</strong></p>

            <!--  is-half is-offset-one-quarter-->
            <div class="notification is-danger" *ngIf="errors.length > 0">
              <ul>
                <li *ngFor="let error of errors">{{ error.message }}</li>
              </ul>
            </div>

            <div class='field'>
              <label class='radio'>
                <input 
                  type="radio" 
                  [value]="faturarPara" 
                  (click)="FaturarPara('0')"
                  name="faturarPara">Minha empresa
                <input 
                  type="radio" 
                  [value]="faturarPara" 
                  (click)="FaturarPara('1')"                   
                  name="faturarPara"
                  checked='true'>Outra empresa
              </label>
            </div>

            <div class="field">
              <label class="radio">
                <input 
                  type="radio" 
                  [value]="docType_faturamento" 
                  (click)="TypePerson('faturamento')" 
                  name="faturamento_documentType"
                  checked='checked'> Pessoa Jurídica
                <input 
                  type="radio" 
                  [value]="docType_faturamento" 
                  (click)="TypePerson('faturamento')" 
                  name="faturamento_documentType">Pessoa Física
              </label>
            </div>

            <div class="field" [ngClass]="aplicaCssErro('faturamento_document')">
              <p class="control">
                <input 
                  class="input is-large" 
                  [textMask]="{ mask: cnpjMask }" 
                  [(ngModel)]="customerBilling.document"
                  type="text" 
                  placeholder="Document" 
                  formControlName="faturamento_document">
                <!-- <span class="tag is-danger" *ngIf="!form.controls.faturamento_document.valid && !form.controls.faturamento_document.pristine">
                      Document inválido
                    </span> -->
                <app-error-msg [control]="form.get('faturamento_document')" label="CNPJ/CPF">
                </app-error-msg>
              </p>
            </div>

            <div class="field" [ngClass]="aplicaCssErro('faturamento_inscricaoEstadual')">
              <p class="control">
                <input class="input is-large" 
                  [(ngModel)]="customerBilling.inscricaoEstadual" 
                  type="text" 
                  placeholder="Inscrição Estadual"
                  formControlName="faturamento_inscricaoEstadual" 
                  [readonly]="!docType_faturamento">
                <label class="checkbox">
                  <input 
                    type="checkbox" 
                    id="chkIsento" 
                    (click)="InscricaoCheck('faturamento')" 
                    [disabled]="!docType_faturamento">
                  Isento?
                </label>
                <!-- <span class="tag is-danger" *ngIf="!form.controls.faturamento_inscricaoEstadual.valid && !form.controls.faturamento_inscricaoEstadual.pristine">Inscrição
                      estadual inválido
                    </span> -->
                <app-error-msg [control]="form.get('faturamento_inscricaoEstadual')" label="Inscrição Estadual">
                </app-error-msg>
              </p>
            </div>

            <div class="field" [ngClass]="aplicaCssErro('faturamento_companyName')">
              <p class="control">
                <input
                  class="input is-large" 
                  [(ngModel)]="customerBilling.companyName" 
                  type="text" 
                  placeholder="Nome da Empresa"
                  formControlName="faturamento_companyName" 
                  [readonly]="!docType_faturamento">
                <!-- <span class="tag is-danger" *ngIf="!form.controls.faturamento_companyName.valid && !form.controls.faturamento_companyName.pristine">Company
                      name inválido
                    </span> -->
                <app-error-msg [control]="form.get('faturamento_companyName')" label="Nome da empresa">
                </app-error-msg>
              </p>
            </div>

            <div class="field" [ngClass]="aplicaCssErro('faturamento_firstName')">
              <p class="control">
                <input class="input is-large" [(ngModel)]="customerBilling.firstName" type="text" placeholder="Nome"
                  formControlName="faturamento_firstName">
                <!-- <span class="tag is-danger" *ngIf="!form.controls.faturamento_firstName.valid && !form.controls.faturamento_firstName.pristine">
                      Nome inválido
                    </span> -->
                <app-error-msg [control]="form.get('faturamento_firstName')" label="Nome">
                </app-error-msg>
              </p>
            </div>

            <div class="field" [ngClass]="aplicaCssErro('faturamento_lastName')">
              <p class="control">
                <input class="input is-large" [(ngModel)]="customerBilling.lastName" type="text" placeholder="Sobrenome"
                  formControlName="faturamento_lastName">
                <app-error-msg [control]="form.get('faturamento_lastName')" label="Sobrenome">
                </app-error-msg>
              </p>
            </div>

            <div class="field" [ngClass]="aplicaCssErro('faturamento_email')">
              <p class="control" id="emailControl">
                <input class="input is-large" [(ngModel)]="customerBilling.email" type="email" placeholder="E-mail"
                  formControlName="faturamento_email">
                <!-- [ngClass]=" {'is-danger': (!form.controls.faturamento_email.valid && !form.controls.faturamento_email.pristine) }" -->
                <!-- <span class="tag is-danger" *ngIf="!form.controls.faturamento_email.valid && !form.controls.faturamento_email.pristine">
                      E-mail inválido</span> -->
                <app-campo-control-erro [mostrarErro]="form.get('faturamento_email').status === 'PENDING'" msgErro="Validando email...">
                </app-campo-control-erro>
                <app-campo-control-erro [mostrarErro]="form.get('faturamento_email').status === 'VALID'" msgErro="Email válido!">
                </app-campo-control-erro>
              </p>
            </div>

            <div class="field" [ngClass]="aplicaCssErro('faturamento_password')">
              <p class="control">
                <input class="input is-large" type="password" placeholder="Senha" formControlName="faturamento_password">
                <app-error-msg [control]="form.get('faturamento_password')" label="Senha">
                </app-error-msg>
              </p>
            </div>

            <div class="field" [ngClass]="aplicaCssErro('faturamento_confirmPassword')">
              <p class="control">
                <input class="input is-large" type="password" placeholder="Confirmar Senha" formControlName="faturamento_confirmPassword">
                <app-error-msg [control]="form.get('faturamento_confirmPassword')" label="Confirmar Senha">
                </app-error-msg>
              </p>
            </div>

            <br />
            <hr />

            <div class="field" [ngClass]="aplicaCssErro('faturamento_cep')">
              <p class="control">
                <input 
                  class="input is-large" 
                  [textMask]="{mask: cepMask }"
                  [(ngModel)]="customerBilling.cep" 
                  type="text" 
                  placeholder="Cep"
                  formControlName="faturamento_cep" (blur)="getCep(form.controls.faturamento_cep.value,'faturamento')">
                <!-- <span class="tag is-danger" *ngIf="!form.controls.faturamento_cep.valid && !form.controls.faturamento_cep.pristine">CEP
                      inválido
                    </span> -->
                <app-error-msg [control]="form.get('faturamento_cep')" label="cep">
                </app-error-msg>
              </p>
            </div>

            <div class="field" [ngClass]="aplicaCssErro('faturamento_endereco')">
              <p class="control">
                <input class="input is-large" [(ngModel)]="customerBilling.endereco" type="text" placeholder="Endereço"
                  formControlName="faturamento_endereco">
                <!-- <span class="tag is-danger" *ngIf="!form.controls.faturamento_endereco.valid && !form.controls.faturamento_endereco.pristine">Endereço
                      inválido
                    </span> -->
                <app-error-msg [control]="form.get('faturamento_endereco')" label="Endereço">
                </app-error-msg>
              </p>
            </div>

            <div class="field" [ngClass]="aplicaCssErro('faturamento_numero')">
              <p class="control">
                <input class="input is-large" [(ngModel)]="customerBilling.numero" type="text" placeholder="Número"
                  formControlName="faturamento_numero">
                <!-- <span class="tag is-danger" *ngIf="!form.controls.faturamento_numero.valid && !form.controls.faturamento_numero.pristine">
                      Número inválido
                    </span> -->
                <app-error-msg [control]="form.get('faturamento_numero')" label="Número">
                </app-error-msg>
              </p>
            </div>

            <div class="field">
              <p class="control">
                <input class="input is-large" [(ngModel)]="customerBilling.complemento" type="text" placeholder="Complemento"
                  formControlName="faturamento_complemento">
              </p>
            </div>

            <div class="field" [ngClass]="aplicaCssErro('faturamento_bairro')">
              <p class="control">
                <input class="input is-large" [(ngModel)]="customerBilling.bairro" type="text" placeholder="Bairro"
                  formControlName="faturamento_bairro">
                <!-- <span class="tag is-danger" *ngIf="!form.controls.faturamento_bairro.valid && !form.controls.faturamento_bairro.pristine">
                      Bairro inválido
                    </span> -->
                <app-error-msg [control]="form.get('faturamento_bairro')" label="Bairro">
                </app-error-msg>
              </p>
            </div>

            <div class="field" [ngClass]="aplicaCssErro('faturamento_cidade')">
              <p class="control">
                <input class="input is-large" [(ngModel)]="customerBilling.cidade" type="text" placeholder="Cidade"
                  formControlName="faturamento_cidade">
                <!-- <span class="tag is-danger" *ngIf="!form.controls.faturamento_cidade.valid && !form.controls.faturamento_cidade.pristine">
                      Cidade inválido
                    </span> -->
                <app-error-msg [control]="form.get('faturamento_cidade')" label="Cidade">
                </app-error-msg>
              </p>
            </div>


            <div class="field" [ngClass]="aplicaCssErro('faturamento_estado')">
              <p class="control">
                <input class="input is-large" [(ngModel)]="customerBilling.estado" type="text" placeholder="Estado"
                  formControlName="faturamento_estado">
                <!-- <span class="tag is-danger" *ngIf="!form.controls.faturamento_estado.valid && !form.controls.faturamento_estado.pristine">
                      Estado inválido
                    </span> -->
                <app-error-msg [control]="form.get('faturamento_estado')" label="Estado">
                </app-error-msg>
              </p>
            </div>

            <br />
            <hr />

            <div class="field" [ngClass]="aplicaCssErro('faturamento_phone')">
              <p class="control">
                <input 
                  class="input is-large" 
                  [textMask]="{ mask: phoneMask }"
                  [(ngModel)]="customerBilling.phone" 
                  type="text" 
                  placeholder="Telefone"
                  formControlName="faturamento_phone">
                <!-- <span class="tag is-danger" *ngIf="!form.controls.faturamento_phone.valid && !form.controls.faturamento_phone.pristine">
                      Telefone inválido
                    </span> -->
                <app-error-msg [control]="form.get('faturamento_phone')" label="Telefone">
                </app-error-msg>
              </p>
            </div>

            <div class="field" [ngClass]="aplicaCssErro('faturamento_cellphone')">
              <p class="control">
                <input 
                  class="input is-large" 
                  [textMask]="{ mask: phoneMask }"
                  [(ngModel)]="customerBilling.cellphone" 
                  type="text" 
                  placeholder="Celular"
                  formControlName="faturamento_cellphone">
                <!-- <span class="tag is-danger" *ngIf="!form.controls.faturamento_cellphone.valid && !form.controls.faturamento_cellphone.pristine">
                      Celular inválido
                    </span> -->
                <app-error-msg [control]="form.get('faturamento_cellphone')" label="celular">
                </app-error-msg>
              </p>
            </div>

            <br>
            <div class="field">
              <p>
                <a routerLink="/" class="button is-link is-outlined is-large is-fullwidth">VOLTAR PARA TELA DE LOGIN</a>
              </p>
            </div>

          </div>





          <div class="column  box" style="margin-left: 4%">
            <!-- is-half is-offset-one-quarter -->

            <p><strong>Conta Microsoft</strong></p>

            <div class='field'>
              <label class='radio'>
                <input 
                  type="radio" 
                  [value]="contaMicrosoftPara" 
                  (click)="MicrosoftPara('0')"
                  name="contaMicrosoftPara">Minha empresa
                <input 
                  type="radio" 
                  [value]="contaMicrosoftPara" 
                  (click)="MicrosoftPara('1')"
                  name="contaMicrosoftPara">Outra empresa
                <input 
                  type="radio"
                  [value]="contaMicrosoftPara" 
                  (click)="MicrosoftPara('2')" 
                  name="contaMicrosoftPara"
                  checked="true">Mesma
                empresa de faturamento
              </label>
            </div>

            <div class="field">
              <label class="radio">
                <input 
                  type="radio" 
                  [value]="docType_microsoft" 
                  (click)="TypePerson('microsoft')" 
                  name="microsoft_documentType"
                  checked='true'>Pessoa Jurídica
                <input 
                  type="radio" 
                  [value]="docType_microsoft" 
                  (click)="TypePerson('microsoft')" 
                  name="microsoft_documentType">Pessoa Física
              </label>
            </div>

            <div class="field" [ngClass]="aplicaCssErro('microsoft_document')">
              <p class="control">
                <input 
                  class="input is-large" 
                  [textMask]="{ mask: cnpjMask }"
                  [ngModel]="customerMicrosoft.document" 
                  type="text" 
                  placeholder="Document"
                  formControlName="microsoft_document">
                <!-- <span class="tag is-danger" *ngIf="!form.controls.microsoft_document.valid && !form.controls.microsoft_document.pristine">Document
                      inválido
                    </span> -->
                <app-error-msg [control]="form.get('microsoft_document')" label="CNPJ/CPF">
                </app-error-msg>
              </p>
            </div>

            <div class="field" [ngClass]="aplicaCssErro('microsoft_inscricaoEstadual')">
              <p class="control">
                <input class="input is-large" [ngModel]="customerMicrosoft.inscricaoEstadual" type="text" placeholder="Inscrição Estadual"
                  formControlName="microsoft_inscricaoEstadual" [readonly]="docType_microsoft">
                <label class="checkbox">
                  <input type="checkbox" id="chkIsento_microsoft" (click)="InscricaoCheck('microsoft')" [disabled]="docType_microsoft">
                  Isento?
                </label>
                <!-- <span class="tag is-danger" *ngIf="!form.controls.microsoft_inscricaoEstadual.valid && !form.controls.microsoft_inscricaoEstadual.pristine">Inscrição
                      estadual inválido
                    </span> -->
                <app-error-msg [control]="form.get('microsoft_inscricaoEstadual')" label="Inscrição estadual">
                </app-error-msg>
              </p>
            </div>

            <div class="field" [ngClass]="aplicaCssErro('microsoft_companyName')">
              <p class="control">
                <input class="input is-large" [ngModel]="customerMicrosoft.companyName" type="text" placeholder="Nome da Empresa"
                  formControlName="microsoft_companyName" [readonly]="docType_microsoft">
                <!-- <span class="tag is-danger" *ngIf="!form.controls.microsoft_companyName.valid && !form.controls.microsoft_companyName.pristine">Company
                      name inválido
                    </span> -->
                <app-error-msg [control]="form.get('microsoft_companyName')" label="Nome da Empresa">
                </app-error-msg>
              </p>
            </div>

            <div class="field" [ngClass]="aplicaCssErro('microsoft_firstName')">
              <p class="control">
                <input class="input is-large" [ngModel]="customerMicrosoft.firstName" type="text" placeholder="Nome"
                  formControlName="microsoft_firstName">
                <!-- <span class="tag is-danger" *ngIf="!form.controls.microsoft_firstName.valid && !form.controls.microsoft_firstName.pristine">Nome
                      inválido
                    </span> -->
                <app-error-msg [control]="form.get('microsoft_firstName')" label="Nome">
                </app-error-msg>
              </p>
            </div>

            <div class="field" [ngClass]="aplicaCssErro('microsoft_lastName')">
              <p class="control">
                <input class="input is-large" [ngModel]="customerMicrosoft.lastName" type="text" placeholder="Sobrenome"
                  formControlName="microsoft_lastName">
                <app-error-msg [control]="form.get('microsoft_lastName')" label="Sobrenome">
                </app-error-msg>
              </p>
            </div>

            <div class="field" [ngClass]="aplicaCssErro('microsoft_email')">
              <p class="control" id="emailControl">
                <input class="input is-large" [ngModel]="customerMicrosoft.email" type="email" placeholder="E-mail"
                  formControlName="microsoft_email">
                <!-- [ngClass]=" {'is-danger': (!form.controls.microsoft_email.valid && !form.controls.microsoft_email.pristine) }" -->
                <!-- <span class="tag is-danger" *ngIf="!form.controls.microsoft_email.valid && !form.controls.microsoft_email.pristine">E-mail
                      inválido</span> -->
                <app-campo-control-erro [mostrarErro]="form.get('microsoft_email').status === 'PENDING'" msgErro="Validando email...">
                </app-campo-control-erro>
                <app-campo-control-erro [mostrarErro]="form.get('microsoft_email').status === 'VALID'" msgErro="Email válido!">
                </app-campo-control-erro>
              </p>
            </div>

            <div class="field" [ngClass]="aplicaCssErro('microsoft_password')">
              <p class="control">
                <input class="input is-large" type="password" placeholder="Senha" formControlName="microsoft_password">
                <app-error-msg [control]="form.get('microsoft_password')" label="Senha">
                </app-error-msg>
              </p>
            </div>

            <div class="field" [ngClass]="aplicaCssErro('microsoft_confirmPassword')">
              <p class="control">
                <input class="input is-large" type="password" placeholder="Confirmar Senha" formControlName="microsoft_confirmPassword">
                <app-error-msg [control]="form.get('microsoft_confirmPassword')" label="Confirmação de Senha">
                </app-error-msg>
              </p>
            </div>

            <br />
            <hr />

            <div class="field" [ngClass]="aplicaCssErro('microsoft_cep')">
              <p class="control">
                <input 
                  class="input is-large" 
                  [textMask]="{ mask: cepMask }"
                  [ngModel]="customerMicrosoft.cep" 
                  type="text" 
                  placeholder="Cep"
                  formControlName="microsoft_cep" (blur)="getCep(form.controls.microsoft_cep.value, 'microsoft')">
                <!-- <span class="tag is-danger" *ngIf="!form.controls.microsoft_cep.valid && !form.controls.microsoft_cep.pristine">CEP
                      inválido
                    </span> -->
                <app-error-msg [control]="form.get('microsoft_cep')" label="Cep">
                </app-error-msg>
              </p>
            </div>

            <div class="field" [ngClass]="aplicaCssErro('microsoft_endereco')">
              <p class="control">
                <input class="input is-large" [ngModel]="customerMicrosoft.endereco" type="text" placeholder="Endereço"
                  formControlName="microsoft_endereco">
                <!-- <span class="tag is-danger" *ngIf="!form.controls.microsoft_endereco.valid && !form.controls.microsoft_endereco.pristine">Endereço
                      inválido
                    </span> -->
                <app-error-msg [control]="form.get('microsoft_endereco')" label="Endereço">
                </app-error-msg>
              </p>
            </div>

            <div class="field" [ngClass]="aplicaCssErro('microsoft_numero')">
              <p class="control">
                <input class="input is-large" [ngModel]="customerMicrosoft.numero" type="text" placeholder="Número"
                  formControlName="microsoft_numero">
                <!-- <span class="tag is-danger" *ngIf="!form.controls.microsoft_numero.valid && !form.controls.microsoft_numero.pristine">Número
                      inválido
                    </span> -->
                <app-error-msg [control]="form.get('microsoft_numero')" label="Número">
                </app-error-msg>
              </p>
            </div>

            <div class="field">
              <p class="control">
                <input class="input is-large" [ngModel]="customerMicrosoft.complemento" type="text" placeholder="Complemento"
                  formControlName="microsoft_complemento">
                <!-- <span class="tag is-danger" *ngIf="!form.controls.microsoft_complemento.valid && !form.controls.microsoft_complemento.pristine">Complemento
                      inválido
                    </span> -->
              </p>
            </div>

            <div class="field" [ngClass]="aplicaCssErro('microsoft_bairro')">
              <p class="control">
                <input class="input is-large" [ngModel]="customerMicrosoft.bairro" type="text" placeholder="Bairro"
                  formControlName="microsoft_bairro">
                <!-- <span class="tag is-danger" *ngIf="!form.controls.microsoft_bairro.valid && !form.controls.microsoft_bairro.pristine">Bairro
                      inválido
                    </span> -->
                <app-error-msg [control]="form.get('microsoft_bairro')" label="Bairro">
                </app-error-msg>
              </p>
            </div>

            <div class="field" [ngClass]="aplicaCssErro('microsoft_cidade')">
              <p class="control">
                <input class="input is-large" [ngModel]="customerMicrosoft.cidade" type="text" placeholder="Cidade"
                  formControlName="microsoft_cidade">
                <!-- <span class="tag is-danger" *ngIf="!form.controls.microsoft_cidade.valid && !form.controls.microsoft_cidade.pristine">Cidade
                      inválido
                    </span> -->
                <app-error-msg [control]="form.get('microsoft_cidade')" label="Cidade">
                </app-error-msg>
              </p>
            </div>

            <div class="field" [ngClass]="aplicaCssErro('microsoft_estado')">
              <p class="control">
                <input class="input is-large" [ngModel]="customerMicrosoft.estado" type="text" placeholder="Estado"
                  formControlName="microsoft_estado">
                <!-- <span class="tag is-danger" *ngIf="!form.controls.microsoft_estado.valid && !form.controls.microsoft_estado.pristine">Estado
                      inválido
                    </span> -->
                <app-error-msg [control]="form.get('microsoft_estado')" label="Estado">
                </app-error-msg>
              </p>
            </div>

            <br />
            <hr />

            <div class="field" [ngClass]="aplicaCssErro('microsoft_phone')">
              <p class="control">
                <input 
                  class="input is-large" 
                  [textMask]="{ mask: phoneMask }"
                  [ngModel]="customerMicrosoft.phone" 
                  type="text" 
                  placeholder="Telefone"
                  formControlName="microsoft_phone">
                <!-- <span class="tag is-danger" *ngIf="!form.controls.microsoft_phone.valid && !form.controls.microsoft_phone.pristine">Telefone
                      inválido
                    </span> -->
                <app-error-msg [control]="form.get('microsoft_phone')" label="Telefone">
                </app-error-msg>
              </p>
            </div>

            <div class="field" [ngClass]="aplicaCssErro('microsoft_cellphone')">
              <p class="control">
                <input 
                  class="input is-large" 
                  [textMask]="{ mask: phoneMask }"
                  [ngModel]="customerMicrosoft.cellphone" 
                  type="text" 
                  placeholder="Celular"
                  formControlName="microsoft_cellphone">
                <!-- <span class="tag is-danger" *ngIf="!form.controls.microsoft_cellphone.valid && !form.controls.microsoft_cellphone.pristine">Celular
                      inválido
                    </span> -->
                <app-error-msg [control]="form.get('microsoft_cellphone')" label="Celular">
                </app-error-msg>
              </p>
            </div>


            <br>
            <div class="field">
              <p>
                <button type="submit" class="button is-success  is-outlined is-large is-fullwidth">CADASTRAR</button>
              </p>
            </div>

          </div>
        </div>



      </form>


    </div>
  </div>
</section>

<br>
<app-form-debug [form]="form"></app-form-debug>