<form [formGroup]="form">
  <table class="table is-striped">
    <thead>
      <tr>
        <th>Ativo</th>
        <th>Categoria</th>
        <th>Part Number</th>
        <th>Nome</th>
        <th>Pr.BRL</th>
        <th>Markup Perc.</th>
        <th>Pr.Venda</th>
        <th>Pr.Efetivo</th>
      </tr>
    </thead>
    <tbody>

      <!--*ngFor="let markup of form.get('items').controls; let i = index">--->
      <!-- <tr formArrayName="items" 
          *ngFor="let markup of markups; let i = index"
          
      >
        <td>
           <input type="checkbox" 
              [checked]="markups[i].Visible" 
              [(ngModel)]="markups[i]"
              [formControlName]="i"
                
           > 
        </td>
        <td>
          {{ markups[i].CategoryName }}
        </td>
        <td>
          {{ markups[i].PartNumber }}          
        </td>
        <td>
          {{ markups[i].Name }}
        </td>
        <td>
          {{ markups[i].BasePriceBRL }}
        </td>
        <td>
          <input type="text" [(value)]=" markups[i].MarkupPercentual " (blur)="apply($event.target.value,i)">
        </td>
        <td>
          <input type="text"   [(value)]="markups[i].PriceSale ">
        </td>
        <td>
          <input type="text"  [(value)]=" markups[i].EffectivePrice ">
        </td>
      </tr> -->



      <div formGroupName="teste">
        <div formArrayName="items">
          <div *ngFor="let markup of form.controls.teste.controls.items.value; let i = index">
            <!-- {{i}} -->
                        
             <tr formGroupName="{{i}}">        
                <td>
                    <input type="checkbox" formControlName="Visible" /><br>
                </td>
                <td>
                    {{markup.CategoryName}}
                </td>
                <td>
                    {{markup.PartNumber}}
                </td>
                <td>
                    {{markup.Name}}
                </td>
                <td>
                  {{markup.BasePriceBRL}}
                </td>
                <td>
                    <input 
                      type="text" 
                      [(value)]="markup.MarkupPercentual"
                      formControlName="MarkupPercentual" 
                      (blur)="apply($event.target.value,i)">
                </td>
                <td>
                    <input 
                      type="text"                       
                      [value]="markups.teste.items[i].PriceSale" 
                      formControlName="PriceSale" ><!--[ngModel]="markup.PriceSale"-->
                </td>
                <td>
                    <input 
                      type="text"                       
                      [value]="markups.teste.items[i].EffectivePrice" 
                      formControlName="EffectivePrice" >
                </td>                
             </tr> 
          </div>
        </div>
      </div>
          <tr></tr>


          <!-- <td>
                {{ markups[i].CategoryName }}
              </td>
              <td>
                {{ markups[i].PartNumber }}          
              </td>
              <td>
                {{ markups[i].Name }}
              </td>
              <td>
                {{ markups[i].BasePriceBRL }}
              </td>
              <td>
                <input type="text" [(value)]=" markups[i].MarkupPercentual " (blur)="apply($event.target.value,i)">
              </td>
              <td>
                <input type="text"   [(value)]="markups[i].PriceSale ">
              </td>
              <td>
                <input type="text"  [(value)]=" markups[i].EffectivePrice ">
              </td> -->





    </tbody>
  </table>




  <!-- <div formGroupName="type">
    <div formArrayName="options">
      <div *ngFor="let child of form.controls.type.controls.options.controls; let i = index">
        <div formGroupName="{{i}}">
          <label>{{i+1}}. Label: </label>
          <input formControlName="label" /><br>
          <label>{{i+1}}. Value: </label>
          <input formControlName="value" />
        </div>
      </div>
    </div>
  </div> -->

</form>
<br>
<button (click)="submit()" class="button is-primary is-large is-right ">Salvar</button>





<br>
<app-form-debug [form]="form"></app-form-debug>