<app-headbar></app-headbar>
<form [(formGroup)]="form" (ngSubmit)="submit()">
  <table class="table is-striped">
    <thead>
      <tr>
        <th>Ativo</th>
        <th>Categoria</th>
        <th>Part Number</th>
        <th>Nome</th>
        <th>Pr.BRL</th>
        <th>Markup Perc.</th>
        <th>Pr.Venda</th>
        <th>Pr.Efetivo</th>
      </tr>
    </thead>
    <tbody>

      <div formGroupName="teste">
        <div formArrayName="items">
          <div *ngFor="let markup of form.controls.teste.controls.items.value; let i = index">
            <!-- {{i}} -->
                        
             <tr formGroupName="{{i}}">        
                <td>
                    <input type="checkbox" formControlName="Visible" /><br>
                </td>
                <td>
                    {{markup.CategoryName}}
                </td>
                <td>
                    {{markup.PartNumber}}
                </td>
                <td>
                    {{markup.Name}}
                </td>
                <td>
                  {{markup.BasePriceBRL}}
                </td>
                <td>
                    <input 
                      type="text" 
                      [(value)]="markup.MarkupPercentual"
                      formControlName="MarkupPercentual" 
                      (blur)="apply($event.target.value,i)">
                </td>
                <td>
                    <input
                      type="text"
                      [(value)]="markups.teste.items[i].priceSale"
                      formControlName="PriceSale" 
                    >
                      <!--
                        [(value)]="markup.PriceSale"
                        [(value)]="markups.teste.items[i].priceSale"
                        [ngModel]="markup.PriceSale"
                      -->
                </td>
                <td>
                    <input
                      type="text"
                      [(value)]="markups.teste.items[i].effectivePrice"
                      formControlName="EffectivePrice" 
                    >
                      <!--
                        [(value)]="markup.EffectivePrice"
                        [(value)]="markups.teste.items[i].effectivePrice"
                        [ngModel]="markup.EffectivePrice"
                      -->
                </td>                
             </tr> 
          </div>
        </div>
      </div>
          <tr></tr>
    </tbody>
  </table>




  <!-- <div formGroupName="type">
    <div formArrayName="options">
      <div *ngFor="let child of form.controls.type.controls.options.controls; let i = index">
        <div formGroupName="{{i}}">
          <label>{{i+1}}. Label: </label>
          <input formControlName="label" /><br>
          <label>{{i+1}}. Value: </label>
          <input formControlName="value" />
        </div>
      </div>
    </div>
  </div> -->
  <br>
  <button type="submit"  class="button is-primary is-large is-right ">Salvar</button>
</form>






<br>
<app-form-debug [form]="form"></app-form-debug>