<section class="hero  is-primary is-small animated slideInDown">
    <div class="hero-head">
        <nav class="navbar">
            <div class="container">
                <div class="navbar-brand">
                    <div class="navbar-item">
                        <a class="nav-item pacifico medium-text">modern web store</a>
                    </div>
                    <span (click)="teste()" class="navbar-burger burger" data-target="navbarMenuHeroB">
                        <span></span>
                        <span></span>
                        <span></span>
                        <span></span>
                    </span>
                </div>
            </div>
            <app-sub-menu></app-sub-menu>
        </nav>
    </div>
</section>