<app-headbar></app-headbar>

<br/>
<div class="columns is-multiline is-centered ">
  <div class="column is-3 animated slideInUp">
    <div class="card ">
      <div class="card-image ">
        <figure class="image is-4by3">
          <img src="https://picsum.photos/1280/960" alt="Placeholder image">
        </figure>
      </div>
      <div class="card-content">
        <div class="media">
          <div class="media-left">
            <figure class="image is-48x48">
              <img src="https://picsum.photos/95/95" alt="Placeholder image">
              <!-- 96/96 -->
            </figure>
          </div>
          <div class="media-content">
            <p class="title is-4">{{user.name}}</p>
            <p class="subtitle is-6">{{user.email}}</p>
          </div>
        </div>

        <div class="content">
          {{user.bio}}
          <a>@{{user.username}}</a>.
          <a href="#">#css</a>
          <a href="#">#responsive</a>
          <br/>
          <time datetime="2016-1-1">{{user.birthdate | date: 'dd/MM/yyyy'}}</time>
          <!-- 11:09 PM - 1 Jan 2016 -->
        </div>
      </div>
      <button (click)="showModal()" class="button is-primary is-medium  is-fullwidth">Editar Perfil</button>

    </div>
  </div>
</div>

<app-footer></app-footer>

<!-- MODAL -->
<div class="modal animated fadeIn" id="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Termos de Uso</p>
      <button class="delete" (click)="hideModal()"></button>
    </header>
    <section class="modal-card-body">
      <form>
        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Nome</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input class="input" type="input" placeholder="Nome">
              </p>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">E-mail</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                <input class="input" type="email" placeholder="E-mail">
              </p>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Biografia</label>
          </div>
          <div class="field-body">
            <div class="field">
              <p class="control">
                  <textarea class="textarea is-hovered" type="text" placeholder="Biografia"></textarea>
              </p>
            </div>
          </div>
        </div>

        <div class="field is-horizontal">
          <div class="field-label is-normal">
            <label class="label">Foto</label>
          </div>
          <div class="field-body">
            <div class="field">
              <!-- <p class="control"> -->
              <div class="file has-name is-fullwidth">
                <label class="file-label">
                  <input class="file-input" type="file" name="resume">
                  <span class="file-cta">
                    <span class="file-icon">
                      <i class="fas fa-upload"></i>
                    </span>
                    <span class="file-label">
                      Choose a file…
                    </span>
                  </span>
                  <span class="file-name">
                    Screen Shot 2017-07-29 at 15.54.25.png
                  </span>
                </label>
              </div>
              <!-- </p> -->
            </div>
          </div>
        </div>

      </form>
    </section>
    <footer class="modal-card-foot">
      <button class="button" (click)="hideModal()">OK</button>
    </footer>
  </div>
</div>